
h1, h2, h3, h4, h5, h6, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

businessrequirement p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777;
}